.callout {
    background: var(--paper);
    padding: 2rem 1rem;
    width: calc(100% + 2rem);
    max-width: unset;
    margin: 2rem 0 2rem -1rem;
    font-style: italic;
    border-radius: 0.5rem;
    border: 1px solid var(--grey);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    @media (min-width: 48rem) {
        width: calc(100% + 4rem);
        margin: 2rem 0 2rem -2rem;
        padding: 2rem;
    }
}

.pagination {
    margin: 0 0 1rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        list-style-type: none;
        gap: 0.5rem;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
        }

        a {
            background: var(--white);
            text-decoration: none;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            font-family: var(--primaryFont);
            font-weight: 600;
            transition: all 0.2s ease;
            border: 1px solid var(--grey);
            border-radius: 0.25rem;
            color: var(--dark);

            &:hover {
                background: var(--accent);
                color: var(--white);
                border-color: var(--accent);
                box-shadow: 0 2px 4px rgba(230, 126, 34, 0.1);
            }

            &[aria-current="true"] {
                background: var(--accent);
                color: var(--white);
                border-color: var(--accent);
                box-shadow: 0 2px 4px rgba(230, 126, 34, 0.1);
            }
        }
    }
}